.container {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #fff;
  text-transform: capitalize;
  text-align: left;
  .btn {
    margin: 10px;
  }
  .form-control {
    margin: 10px;
    display: unset;
    width: unset;
    padding-bottom: 9px;
  }
}
